.DS_Store

.circleci
.github
.husky

.editorconfig
.eslintignore
.eslintrc

.gitattributes
.gitignore

*.sh

# NPM
.npmignore
.npmrc

# NVM
.nvmrc

# Deps
.depsrc

# Configuration
config.env
config.json
config/server
